################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRMS/.vs/HRMS
/HRMS/.vs/ProjectEvaluation
/HRMS/.vs/HRMS/v17/.suo
/HRMS/bin/Debug/net8.0/HRMS.DataAccess.dll
/HRMS/bin/Debug/net8.0/HRMS.DataAccess.pdb
/HRMS/bin/Debug/net8.0/HRMS.dll
/HRMS/bin/Debug/net8.0/HRMS.exe
/HRMS/bin/Debug/net8.0/HRMS.pdb
/HRMS.DataAccess/bin/Debug/net8.0/HRMS.DataAccess.dll
/HRMS.DataAccess/bin/Debug/net8.0/HRMS.DataAccess.pdb
/HRMS.DataAccess/obj/Debug/net8.0/HRMS.DataAccess.AssemblyInfo.cs
/HRMS.DataAccess/obj/Debug/net8.0/HRMS.DataAccess.AssemblyInfoInputs.cache
/HRMS.DataAccess/obj/Debug/net8.0/HRMS.DataAccess.dll
/HRMS.DataAccess/obj/Debug/net8.0/HRMS.DataAccess.pdb
/HRMS.DataAccess/obj/Debug/net8.0/HRMS.DataAccess.sourcelink.json
/HRMS.DataAccess/obj/Debug/net8.0/ref/HRMS.DataAccess.dll
/HRMS.DataAccess/obj/Debug/net8.0/refint/HRMS.DataAccess.dll
/HRMS.Services/bin/Debug/net8.0/HRMS.Services.dll
/HRMS.Services/bin/Debug/net8.0/HRMS.Services.pdb
/HRMS.Services/obj/Debug/net8.0/HRMS.Services.AssemblyInfo.cs
/HRMS.Services/obj/Debug/net8.0/HRMS.Services.AssemblyInfoInputs.cache
/HRMS.Services/obj/Debug/net8.0/HRMS.Services.dll
/HRMS.Services/obj/Debug/net8.0/HRMS.Services.pdb
/HRMS.Services/obj/Debug/net8.0/HRMS.Services.sourcelink.json
/HRMS.Services/obj/Debug/net8.0/ref/HRMS.Services.dll
/HRMS.Services/obj/Debug/net8.0/refint/HRMS.Services.dll
/HRMS/obj/Debug/net8.0/apphost.exe
/HRMS/obj/Debug/net8.0/HRMS.AssemblyInfo.cs
/HRMS/obj/Debug/net8.0/HRMS.AssemblyInfoInputs.cache
/HRMS/obj/Debug/net8.0/HRMS.csproj.AssemblyReference.cache
/HRMS/obj/Debug/net8.0/HRMS.dll
/HRMS/obj/Debug/net8.0/HRMS.pdb
/HRMS/obj/Debug/net8.0/HRMS.sourcelink.json
/HRMS/obj/Debug/net8.0/ref/HRMS.dll
/HRMS/obj/Debug/net8.0/refint/HRMS.dll
