################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HRMS/.vs/HRMS
/HRMS/.vs/ProjectEvaluation
